* {
	margin:0px;
	padding:0px;
	font-family:"Bahnschrift";
}

.buttonBar {
	width:100%;
	height:60px;
	background-image:linear-gradient(to left, #e12e25, #f07a3a);
	box-shadow:0px 3px 18px black;
	margin-bottom:50px;
	position:relative;
} .buttonBarLogo {
	width:252px;
	height:60px;
	margin-left:7.75%;
	background-color:#eeeeee;
	position:absolute;
	user-select:none;
} .buttonBarFirstButton {
	width:110px;
	height:44px;
	right:0;
	margin-right:61px;
	position:absolute;
	text-align:center;
	font-size:22px;
	padding-top:16px;
	user-select:none;
	transition:0.1s;
	color:white;
} .buttonBarFirstButton:hover {
	background-color:rgba(0, 0, 0, 0.15);
	font-size:26px;
	padding-top:14px;
	height:46px;
	width:120px;
	margin-right:56px;
} .buttonBarSecondButton {
	width:110px;
	height:44px;
	right:0;
	margin-right:178px;
	position:absolute;
	text-align:center;
	font-size:22px;
	padding-top:16px;
	user-select:none;
	transition:0.1s;
	color:white;
} .buttonBarSecondButton:hover {
	background-color:rgba(0, 0, 0, 0.15);
	font-size:26px;
	padding-top:14px;
	height:46px;
	width:120px;
	margin-right:173px;
} .buttonBarThirdButton {
	width:82px;
	height:44px;
	right:0;
	margin-right:298px;
	position:absolute;
	text-align:center;
	font-size:22px;
	padding-top:16px;
	user-select:none;
	transition:0.1s;
	color:white;
} .buttonBarThirdButton:hover {
	background-color:rgba(0, 0, 0, 0.15);
	font-size:26px;
	padding-top:14px;
	height:46px;
	width:92px;
	margin-right:293px;
} .buttonBarFourthButton {
	width:80px;
	height:44px;
	right:0;
	margin-right:390px;
	position:absolute;
	text-align:center;
	font-size:22px;
	padding-top:16px;
	user-select:none;
	transition:0.1s;
	color:white;
} .buttonBarFourthButton:hover {
	background-color:rgba(0, 0, 0, 0.15);
	font-size:26px;
	padding-top:14px;
	height:46px;
	width:90px;
	margin-right:385px;
} .bodyDiv {
	margin-left:10%;
	margin-right:10%;
} .underline {
	border-bottom:3px solid white;
	padding-bottom:7px;
} .bodyUnderDiv {
	width:80%;
	height:30vh;
	position:absolute;
	display:none;
	font-size:18px;
	z-index:-20;
} .copyText {color:#6969ff;}
.copyText:hover {color:#3910b5;}
::-webkit-scrollbar {width:10px;}
::-webkit-scrollbar-track {background-color:#d4d4d4;}
::-webkit-scrollbar-thumb {background-color:#a6a6a6;}
::-webkit-scrollbar-thumb:hover {background-color:#858585;}
.aboutUsParagraph {
	padding-right:10%;
	padding-bottom:30px;
	padding-top:5px;
	width:40%;
	text-align:justify;
} .inputApplyForm {
	width:340px;
	height:40px;
	padding-left:10px;
	margin-bottom:10px;
	border:1px solid #b5b5b5;
	border-radius:3px;
	display:inline-block;
	background-color:#eeeeee;
	font-size:18px;
} .inputApplyForm:focus {
	outline:0;
	width:338px;
	height:38px;
	border:2px solid #03bdac;
	margin-left:-3px;
} .inputApplyForm::placeholder {
	font-size:16px;
	color:#999999;
} .inputApplyFormErrorSmall {
	border:2px solid red;
	width:158px;
	height:38px;
} .inputApplyFormErrorBig {
	border:2px solid red;
	width:338px;
	height:38px;
}.sendButtonApplyForm {
	width:352px;
	height:40px;
	background-color:#03bdac;
	border:none;
	border-radius:3px;
	color:white;
	font-size:20px;
	transition:0.1s;
} .sendButtonApplyForm:hover {
	background-color:#00a291;
	font-size:24px;
} .formDiv {text-align:center;}